// Mixins acá
.flex (@direction, @justify, @align){
    display: flex;
    flex-direction: @direction;
    justify-content:@justify;
    align-items: @align;
}

.styleImage(@radius, @width, @marginTop) {
    border-radius: @radius;
    width: @width;
    margin-top: @marginTop;
}


.btn(@border){
    display: inline-block;
    border: @border;
    background-color: @btn-bg-color;
    color: white;
    font-size: 2rem;
    font-family: inherit;
    padding: 2rem 3rem;
    cursor: pointer;
    border-radius: .6rem;
    transition: all .3s;
    user-select: none; 
    &:hover {
        background-color: white;
        color: @btn-bg-color;
        border: 1.2px solid @btn-bg-color;
    } 
}
  

